@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}

body {
    background-color: #fff;
}

img {
    width: 40px;
    height: 40px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px;
}

nav {
    width: 100%;
    padding: 24px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav__logo--name {
    font-size: 28px;
    font-weight: 700;
    margin-left: 6px;
    text-decoration: none;
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav__link:hover {
    color: #7342d6;
    text-decoration: underline;
}

.nav__link--primary {
    background-color: #7342d6;
    color: #fff;
    padding: 10px 24px;
    border-radius: 9999px;
    font-weight: 600;
    transition: 0.3s ease;
}

.nav__link--primary:hover {
    background-color: #5b30b3;
    text-decoration: none;
}


li {
    list-style-type: none;
}

.purple {
    color: #7342d6
}

button {
    cursor: pointer;
}

section {
    padding: 0 32px;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: initial;
    margin-bottom: 16px;
    display: block;
}



/*

HEADER LAYOUT

*/

header {
    padding-top: 80px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 40px;
    padding: 60px 0;
}

.header__description{
    flex: 1;
    max-width: 600px;
    padding-right: 32px;
}

.header__description h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
    line-height: 1.2;
    color: #1a202c;
}

.header__description--para {
    font-size: 18px;
    color: #4a5568;
    margin-bottom: 32px;
}

.header__email {
    display: flex;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 9999px;
    overflow: hidden;
    max-width: 350px;
    background: white;
}

.header__email input {
    border: none;
    padding: 12px 16px;
    flex: 1;
    outline: none;
    font-size: 16px;
    border-radius: 0;
}

.header__email--input::placeholder {
    color: #a0aec0;
}

.header__email--button {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 9999px;
    padding: 2 14px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
    
}

.header__email--button:hover {
    background-color: #5b30b3;
}

.header__email--title {
    font-size: 12px;
    font-weight: 700;
    color: #a0aec0;
    text-transform: none;
    margin-bottom: 16px;
}

.header__customer--logo{
    margin-bottom: 32px;
    text-align: left;
}

.header__customers--logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    opacity: 0.7;
}

.header__image--wrapper {
    flex: 1;
    text-align: center;
    max-width: 600px;
}

.header__img img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/*

FEATURES

*/

.features {
    padding: 60px 0;
}

.features__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.features__row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.feature__item {
    flex: 1 1 calc(33.333% - 40px);
    max-width: 360px;
    display: flex;
}

.feature__icon-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.feature__icon-wrapper img {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 500px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.03); 
    flex-shrink: 0;
}

.feature__label {
    font-size: 1.25rem;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 8px;;
    display: block;
}

.feature__para {
    font-size: 16px;
    color: #4a5568;
    line-height: 1.6;
}

.section__title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}
    


.section__description {
    font-size: 18px;
    color: #4a5568;
    text-align: center;
    margin-bottom: 32px;
}



/*

QUALITY SECTION

*/

.quality__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 80px 0;
}

.quality__description {
    flex: 1 1 50%;
    max-width: 600px;
    padding-right: 32px;
}


.quality__description--para {
    font-size: 18px;
    color: #4a5568;
    margin-bottom: 24px;
    line-height: 1.75;
}

.quality__image {
    width: 100%;
    max-width: 600px;
    height: auto;
}


.quality__image--wrapper {
    flex: 1;
    text-align: center;
    max-width: 600px;
}

.quality__image--wrapper img {
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 1rem;
}
             
.quality__button {
  background-color: #7342d6;
  color: white;
  padding: 12px 32px;
  border: none;
  border-radius: 9999px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quality__button:hover {
  background-color: #5b30b3;
}

.quality__title {
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 16px;
}
    

/*

STEPS

*/

#steps {
    padding: 4rem 2rem;
    background-color: #fff;
}

.steps__container {
    display: flex;
    gap: 4rem;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;

}

.steps__image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    max-width: none;;
}

.steps__content {
    flex: 1;
    max-width: 500px;
}

.steps__title {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 1rem 0 2rem;
    color: #1f2937;
}

.steps__title .purple {
    color: #7c3aed;
}

.step {
    margin-bottom: 1.5rem;
}

.step h3 span {
    color: #cbd5e1;
    font-size: 1.5rem;
    margin-right: 0.75rem;
    font-weight: 700;
}

.step p {
    color: #64748b;
    font-size: 1rem;
    line-height: 1.5;
}

/*

VALUES SECTION

*/

#Values {
    padding: 80px 0;
}

.value__row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.value__description {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
}

.value__title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #1f2937;
    margin: 1rem 0;
}

.value__para {
    font-size: 1rem;
    color: #64748b;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.value__features {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.value__feature {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    max-width: 280px;
}

.value__icon {
    font-size: 1.5rem;
    padding: 0.75rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value__icon.affordable {
    background-color: #d1fae5;
    color: #10b981;
}

.value__icon.professional {
    background-color: #fee2e2;
    color: #ef4444;
}

.value__label {
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: #243e63;
}

.value__desc {
    font-size: 0.9rem;
    color: #4b5563;
    line-height: 1.6;
}

.value__button {
    background-color: #7342d6;
    color: white;
    padding: 12px 32px;
    border: none;
    border-radius: 9999px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.value__button:hover {
    background-color: #5b30b3;
}

.value__image--wrapper {
    flex: 1;
    display: flex;
    text-align: center;
    max-width: 600px;
}

.value__image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 500px;
}

/* PRICING SECTION */

#pricing {
    padding: 4rem 2rem;
    text-align: center;
    background-color: #fff;
}

.pricing__tag {
    font-size: 0.875rem;
    font-weight: 700;
    color: #7c3aed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.pricing__title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #1e293b;
    margin-bottom: 1.5rem;
}

.pricing__row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.pricing__para {
    font-size: 16px;
    color: #4a5568;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    text-align: center;
}

/* PLAN */

.plan__cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.plan__card {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    padding: 2rem;
    text-align: center;
    width: 300px;
    transition: transform 0.3 ease;
}

.plan__card:hover {
    transform: translateY(-5px);
}

.plan__card h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
    color: #1e293b;
}

.plan__card h2 {
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 0.25rem;
    color: #1e293b;
}

.monthly {
    color: #a0aec0;
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.plan__features {
    margin:0.4rem 0;
    font-size: 0.95rem;
    color: #4a5568;
}

.plan__features p strong {
    color: #243e63;
    font-size: 1rem;
}

.plan__button {
    margin-top: 1.5rem;
    padding: 0.75rem 2rem; 
    border: none;
    border-radius: 9999px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 0.95rem;
    transition: background-color 0.3 ease, transform 0.2 ease;
}

/*

BUTTON COLORS

*/

.plan__button.personl {
    background-color: #38d9a9;
}

.plan__button.personal:hover {
    background-color: rgb(129,230,217);
    transform: translateY(-2px);
}

.plan__button.business {
    background-color: #7c3aed; 
}

.plan__button.business:hover {
    background-color: #5b30b3;
    transform: translateY(-2px);
}

.plan__button.enterprise {
    background-color: #f87171;
}

.plan__button.enterprise:hover {
    background-color: #e53e3e;
    transform: translateY(-2px);
}

/* Cards background colors */

.plan__card--business {
    background: linear-gradient(to bottom, #6366f1, #7c3aed);
    color: white;
}

.plan__card--business h3,
.plan__card--business h2,
.plan_-card--business .monthly,
.pran__card--business .plan__features p,
.plan__card--business .plan__features p strong {
    color: white;
}

.plan__card--personal {
    background-color: #f7fafc;
}

.plan__card--enterprise {
    background-color: #fff5f5;
}


/*  SMART PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 768px) {
    .header__container {
        flex-direction: column;
        text-align: center;
    }

    .header__description {
        text-align: center;
    }

    .header__email {
        flex-direction: column;
        gap: 12px;
    }

    .header__email--button {
        width: 100%;
        border-radius: 12px;
    }

    .header__image--wrapper {
        margin-top: 32px;
    }

    .features__item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .quality__row {
    flex-direction: column;
    text-align: center;
  }

  .quality__description,
  .quality__image--wrapper {
    max-width: 100%;
    padding: 0;
  }

  .steps__container{
    flex-direction: column;
  }

  .steps__image img {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
    .feature__item {
        flex: 1 1 calc(50% - 40px);
    }
}

/* 

Small screens: phones

*/

@media (max-width: 640px) {
    .features__row {
        flex-direction: column;
        align-items: center;
    }

    .feature__item {
        flex: 1 1 100%;
        flex-direction: row;
        text-align: left;
        max-width: 100%;
    }

    .feature__icon-wrapper {
        gap: 16px;
        align-items: flex-start;
    }

    .feature__label {
        font-size: 1rem;
    }

    .feature__para {
        font-size: 0.95rem;
        line-height: 1.6;
    }
}


